/*FONTS */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&display=swap');


/* Core CSS */
.Container{
    width: 783px;
}

.comm_label {
    font-weight: 500;
    font-size: 15px;
}

.form-group {
    margin-bottom: 10px;
}

.comm_Container {
    width: 580px;
    display: flex;
    flex-direction: column;
}

/*TABS CSS */

.tabs {
    display: flex;
}

.tabs__sidebar {
    width: 170px;
    flex-shrink: 0;
    background: #313a46;
}

.tabs__button {
    display: block;
    color: #fff;
    padding: 10px;
    background: #313a46;
    border: none;
    width: 100%;
    outline: none;
    cursor: pointer;
}

.tabs__button:active {
    background: #fff;
}

.tabs__button:hover {
    color: #bccee4;
    transition: 0.3s;
}

.tabs__button:not(:last-of-type) {
    border-bottom: 1px solid #313a46;
}

.tabs__button--active {
    background: #313a46;
}

.tabs__content {
    padding: 15px;
    font-size: 0.8rem;
    display: none;
}

.tabs__content--active {
    display: block;
}

.tabs__content > :first-child {
    margin-top: 0;
}

/*OTHER CSS */
#url {
    font-weight: 300;
}

#url_search {
    font-weight: 300;
}

#scrap__button_common {
    margin-bottom: 10px;
}

#Author {
    background-color: white;
    color: #98a6ad;
    padding-top: 5px;
    margin-bottom: 0px;
}

.welcome {
    margin-bottom: 20px;
}

#title {
    font-family: 'Dancing Script', cursive;
    font-size: 23px;
}

.intro_start {
    font-size: 15px;
}

.intro_Header {
    font-size: 23px;
}

.intro {
    font-size: 15px;
}

.text {
    font-size: 15px;
}

.common_Title {
    font-size: 20px;
}

#welcome_Scrappy {
    font-family: 'Dancing Script', cursive;
    font-weight: 800;
}

.form-control {
    height: 400px;
}

.sub_Section {
    font-weight: 500;
}

#comm_Buttons {
    display: flex;
}

#search_input {
    height: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.text-breaker {
    width: 40%;
    margin: auto;
    margin-bottom: 20px;
}

#link_btn {
    margin-left: 10px;
    margin-right: 10px;
    height: 38px;
}

#text_btn {
    margin-right: 10px;
    height: 38px;
}

#attr_input {
    height: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#extensive_input {
    height: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.image-container {
    display: flex;
    height: 400px;
    width: 580px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.work-image {
    height: 130px;
    width: 130px;
}

.image-text {
    margin-top: 10px;
    font-size: 20px;
    opacity: 0.5;
}

.large-subtitle {
    font-size: 22px;
    font-weight: 500;
}

.extra-info {
    display: flex;
    align-items: center;
}

#github-button {
    height: 40px;
    margin-top: 20px;

}

#github-icon {
    height: 32px;
    width: 32px;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 80px;
}

#chrome-button {
    height: 40px;
    margin-top: 20px;

}

#chrome-icon {
    height: 32px;
    width: 32px;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 30px;
}

.text-breaker-common {
    width: 50%;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 60px;
}

#table_btn {
    margin-right: 10px;
    height: 38px;
}

#list_btn {
    margin-right: 10px;
    height: 38px;
}

#misc_btn {
    margin-right: 10px;
    height: 38px;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height:40px;
    width:40px;
    border-radius: 50%;
    display: none;
  }

  #back-up {
    bottom: 6px;
    right: 30.5px;
    position: fixed;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 25px;
    font-weight: 300;
  }